* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
    color: seagreen;
}
header {
    color: black;
    background-color:seagreen;
    height: 11%;
    float: left;
    display: block;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    border-top: 1px springgreen;
    border-bottom: 1px springgreen;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: seagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkgrey;
    color: black;
}
footer {
    color: black;
    background-color:seagreen;
    font-size: 20px;
    text-align: center;
    height: 7%;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
#wrapper {
    background-color: gray;
    position: absolute;
    width: 100%;
    top: 80px;
    z-index: 1;
}
body div header p {
    font-size: 35px;
}

h1 {
    background-color: seagreen;
    font-size: 80px;
    height: 80%;
    width: 100%;
    text-align: center;
    color: black;
}
